* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  color: #8a8a8b;
  font-weight: 400;
  font-size: 30px;
}

h3, p, h4, button, input, footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h3, p {
  font-size: 18px;
  color: #919190;
}

input {
  font-size: 16px;
}

input:-webkit-autofill { 
  background-clip: text;
}

button {
  font-size: 17px;
  background-color: #ea738d;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
}

button:hover {
  background-color: #9dbbf8;
}

p {
  font-size: 15px;
}

.card-container {
  background-color: #9dbbf8;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: #dd3a08;
  margin-top: 0;
}

.server-error {
  margin-top: 5px;
}

.dark-icon {
  color: #8a8a8b;
  height: 13px;
  margin-bottom: 2px;
  margin-right: 6px;
}

.clickable {
  cursor: pointer
}

.light-icon {
  color: #919190;
}

.message-icon {
  height: 100px;
}

.auth-a-tag {
  color: #ea738dff;
  font-weight: bold;
}

.x-icon {
  display: flex;
  margin-right: 10px;
  justify-self: flex-end;
  cursor: pointer;
}

.full-screen-error-container {
  background-color: #9dbbf8;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-screen-error-container h2 {
    margin-bottom: 20px;
}

.full-screen-error-container button {
  min-width: 80px;
}

.full-screen-error-container button:hover {
  background-color: #ea738dff;
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #919190; 
  border-radius: 8px;
}
